.app {
    height: 100vh;
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    max-width: 660px;
    position: relative;
}


.container {  
    margin: 0 auto;
    max-width: 551px;
}